.carousel-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Ratio 16:9 (9/16 = 0.5625) */
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 100%;
  height: auto; /* Respecte le ratio de l'image */
}


.carousel-caption {
  position: absolute;
  bottom:25%;
  left:10%;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  padding: 20px;
  border-radius: 10px;
  max-width: 30%;
}

.carousel-caption h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 1.2rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-btn.prev {
  left: 20px;
}

.carousel-btn.next {
  right: 20px;
}

/* Media queries pour les petits écrans */

@media (max-width: 1024px) {
  .carousel-container {
    height: 50vh; /* Réduit la hauteur pour les petits écrans */
  }

  .carousel-caption h2 {
    font-size: 1.8rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .carousel-container {
    height: 50vh; /* Réduit la hauteur pour les petits écrans */
  }

  .carousel-caption h2 {
    font-size: 1.8rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }
  .carousel-caption {
    position: absolute;
    bottom:10px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
  }
}


@media (max-width: 576px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .carousel-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%; /* Réduit la hauteur pour les petits écrans */
  }

  .carousel-caption h2 {
    font-size: 1.4rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }
  .carousel-caption {
    position: absolute;
    bottom:0px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
  }
  .carousel-btn {
    width: 30px; /* Réduit la taille du bouton */
    height: 30px;
    font-size: 1.5rem; /* Réduit la taille de l'icône */
  }
  .carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}