.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(233, 211, 12, 0.8), rgba(233, 211, 12, 0.8)); 
  color: #000;
  position: relative;

   /* Ajout pour centrer le contenu */
   display: flex;
   align-items: center;
   justify-content:first baseline;
}

.hero .next-btn,
.hero .back-btn {
  padding: 15px;
  width: 40px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #f4ab38;
  cursor: pointer;
}

.hero .back-btn {
  right: auto;
  left: 0;
}

.hero .slider {
  overflow: hidden;
  width: 60%;
  background-color: rgba(244, 171, 56, 0.5); 
  border-radius : 25px 0 ;
}

.hero .slider ul {
  display: flex;
  width: 300%;
  overflow-x: hidden;
  transition: 0.5s;
}

.hero .slider ul li {
  list-style-type: none;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  color: #000;
  line-height: 1.4;
}

.hero-text {
   text-align: left;
   max-width: 800px;
   margin-left: 10px;
 
}

.hero-text h1 {
  font-size: 3.1em;
  font-weight: 600;
  line-height: 1;
}

.hero-text p {
  font-size: 1.2em;
  max-width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.4;
  color:#fff;
}

/* ---------------- media query ------------------*/

@media (max-width: 850px) {
  .hero-text h1 {
    font-size: 30px;
    margin: auto;
  }

  .hero-text p {
    max-width: 400px;
    margin: 10px auto 30px;
  }
}
