.title{
    text-align: center;
    color:#280d0d;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin:10px  20px;

}

.title h2{
   font-size: 32px;
   color:#280d0d;
   margin-top:0px;
   text-transform: none; 
}