.footer.container {
  width: 100%;
  background-color: #280d0d;
}

.footer {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  min-height: 25vh;
  color: #fff;
}

.footer ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.social-media,
.copyright {
  width: 100%;
  text-align: center;
}
.social-media {
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;            /* Active Flexbox */
  justify-content: center;  /* Centre horizontalement les icônes */
  gap: 10px;  
}

/* ---------------- media query ------------------*/
@media (max-width: 600px) {
  .footer {
    display: block;
    text-align: center;
  }
  .footer ul li {
    margin: 10px;
  }
  .footer ul {
    margin-top: 10px;
  }
}
